{{>_layout/header}}

  <section id="aboutIntro">
    <h2 id="aboutTagline" class="cufon"><span id="aboutTaglineLeft">The Future of</span><span id="aboutTaglineRight"> Web Monitoring</span></h2>


    <img id="aboutFactory" src="/img/aboutFactory.jpg" alt="The Solutious Offices">
    <h3 id="aboutBannerTagline" class="cufonShadow"><em>WELCOME</em> TO THE 1900s</h3>


      <h3 class="cufon">Blamey &amp; Stella Information Co. Ltd</h3>

    <p id="aboutFirst">is owned and operated by Morton Blamey. Morton was brought into the company in 1885, after marrying the daughter of George Stella. Mr. Stella died in 1891, leaving the Company to Morton and stipulating in his will that "Stella" remain in the company</p>
    <p id="aboutSecond">name. At that time, the company produced high-strength rivets and railway ties. Under the stewardship of Morton Blamey, the company has entered a new age in the technology industry.</p>
  </section>


  <h2 id="aboutEmployees" class="cufon section sectionBanner">Employees</h2>

  <section class="columnHalf">
    <section id="aboutMorton">
      <h4 class="cufon">Morton Blamey</h4>
      <p class="aboutTitle">Business Owner</p>

      <p>MORTON BLAMEY was born in Coon Valley,
      Wisconsin, in 1846. A lifelong Businessman and
      Speculator on non-precious metals, Mr. Blamey
      joined Blamey &amp; Stella Information in 1879,
      shortly after marrying Henrietta Stella,
      daughter of company founder George Stella.</p>

      <p>Mr. Blamey loves nothing more than quaffing
      fine cham- pagne, sucking back oytsers in their
      half-shell, and sipping on turtle soup. His
      hobbies include frequenting houses of ill repute,
      tending to his mustache, avoiding his wife, and
      creating corporate monopol- ies. He has been
      celebrated by many of his industrialist friends
      as a dedicated and passionate strike-breaker.
      And "No!" he will not sign your suffrage petition.</p>

      <p><a href="https://twitter.com/mortonblamey">Follow on twitter</a> - <a href="mailto:morton@blamestella.com">morton@blamestella.com</a></p>
    </section>

    <section id="aboutTucker">
      <h4 class="cufon">Tucker</h4>
      <p class="aboutTitle">Technician</p>

      <p>TUCKER was born in 1873 in Wiscona,
      Wisconsin. He is thoroughly imbued with the
      Spirit of Electrical Communication. He got his
      start in the information and communication
      business on the ground floor, working for some
      years for Western Union as a telegraph girl.
      He was hired as a technologist in 1895 by
      Mr. Blamey to assist in all the electrical goings
      on at Blamey &amp; Stella Informa- tion. Tucker
      enjoys frequenting nickelodeons, knitting,
      and speculating on the future of wireless
      telegraphy. He owns two phonographs and
      one gramophone.</p>

      <p><a href="https://twitter.com/tucker1927">Follow on twitter</a> - <a href="mailto:tucker@blamestella.com">tucker@blamestella.com</a></p>

    </section>
  </section>

  <!--   <section id="aboutNews" class="columnHalf columnSecond">
      <h4 class="cufon">The Latest Cables</h4>
      <p id="aboutNewsMore"><a href="/news/">read more</a></p>

      <h5 class="section">February 16th, 2011</h5>
      <ol class="news">
            <li class="tucker ">
               <p>We have successfully migrated and updated Stella! This is a very new version of the site with some interface improvements and even more under the hood. If you notice anything awry, do let us know.</p>
               <span class="date"></span>
               <a href="http://twitter.com/tucker1927" class="mugshot"></a>
             </li>
             <li class="reset"></li>
                      <li class="morton ">
               <p>Very nice, Tucker. You have earned your day's pay.</p>
               <span class="date"></span>
               <a href="http://twitter.com/mortonblamey" class="mugshot"></a>
             </li>
      </ol>
        <h5 class="section">February 16th, 2011</h5>
        <ol class="news">
              <li class="tucker ">
                 <p>We have successfully migrated and updated Stella! This is a very new version of the site with some interface improvements and even more under the hood. If you notice anything awry, do let us know.</p>
                 <span class="date"></span>
                 <a href="http://twitter.com/tucker1927" class="mugshot"></a>
               </li>
               <li class="reset"></li>
                        <li class="morton ">
                 <p>Very nice, Tucker. You have earned your day's pay.</p>
                 <span class="date"></span>
                 <a href="http://twitter.com/mortonblamey" class="mugshot"></a>
               </li>
        </ol>
    </section> -->

  <section id="founders">
      <h2 class="cufon section">About the founder</h2>

    <section class="columnHalf">
      <a href="https://twitter.com/solutious"><img src="/img/delano-s-bw.png" alt="Delano Mandelbaum"></a>
      <h3 class="cufon">Delano</h3>
      <p class="aboutTitle">Secretary</p>

      <p>Delano built <a href="http://yellowpages.ca/">yellowpages.ca</a> in 2005, worked for a search engine startup that was <a href="http://investing.businessweek.com/research/stocks/private/snapshot.asp?privcapId=523397">acquired by Amdocs in 2007</a>, and has been working on <a href="http://delanotes.com/">his own projects</a> since 2008. He built and maintains a number of <a href="http://solutious.com/projects">open source projects</a> including Ruby's <a href="https://rubygems.org/gems/net-ssh">net-ssh</a>.</p> <p>Most importantly, he makes a fine secretary at the Blamey &amp; Stella Information Company.</p>

      <p><a href="https://twitter.com/solutious">Follow on twitter</a> - <a href="mailto:delano@blamestella.com">delano@blamestella.com</a></p>
    </section>

  </section>

{{>_layout/footer}}

