{{> _layout/header }}

<div class="infoPageEmptyHeader">
  <h2 class="cufon section">Blamey &amp; Stella Information Co. Ltd</h2>
</div>

<div class="infoPageSubHeader">
</div>

<div id="page">
  
  <h3 class="cufon">Our Privacy Policy</h3>
  
  <p><em>Updated June 4, 2010</em></p>

  <p>This Privacy Policy ("<strong>Privacy Policy</strong>") explains the privacy practices of The Blamey &amp; Stella Information Co. ("<strong>BLAMESTELLA</strong>", "<strong>we</strong>", "<strong>us</strong>" or "<strong>our</strong>") that apply to (i) the use of the <a href="http://www.blamestella.com/" title="Stella loves websites!">www.blamestella.com</a> website, and any related sub-domains, operated by BLAMESTELLA (the "<strong>Website</strong>") and (ii) the provision by BLAMESTELLA of website performance testing services (the "<strong>Services</strong>") through the Website. BLAMESTELLA is committed to maintaining your privacy. </p>

  <p><em><strong>Amendments.</strong></em> We may, from time to time, modify our Privacy Policy and will post a copy of the amended Privacy Policy on the Website, so we encourage you to review it periodically. If we make any substantial changes in the way we use your personal information, we will notify you by sending a notice to the email address specified in your account or by posting a prominent notice on our pages. You will be deemed to have accepted the Privacy Policy, as amended, if you continue to use the Website after any amendments are posted on the Website.</p>

  <p><em><strong>Consent.</strong></em> By USING OUR WEBSITE OR BY SUBMITTING PERSONAL INFORMATION TO US, you consent to BLAMESTELLA' collection, use and disclosure of SUCH personal information IN ACCORDANCE WITH THIS PRIVACY POLICY (AS AMENDED FROM TIME TO TIME) AND AS PERMITTED OR REQUIRED BY LAW. If you do not agree with the terms of this Privacy Policy, do not provide us with any personal information or use any of the Services we offer on the Website. You can withdraw your consent at any time by following the instructions described below in the Section "Questions?".</p>

  <p><em><strong>Collection.</strong></em> <span style="text-decoration: underline">We only collect</span> personal information that you provide us by completing and submitting online forms, including when fulfilling the registration form, making a payment for the Services or providing us feedback or comments. <span style="text-decoration: underline">We do not collect</span> any personal information from tools and/or applications accessible on the Website or, in case of you register for a paid account, from the authentication code that you place on the website(s) that you wish to test using our Services. We may collect the following personal information: full name, email address, company address and credit card information. BLAMESTELLA also automatically receives and records information on our server logs from your browser including your IP address, BLAMESTELLA cookie information (see below), software and hardware attributes and the test parameters you requested. </p>

  <p><em><strong>Use.</strong></em> We may use your personal information to manage your account, send you information on our Services, offer you new features or new services, provide customer services or offer you promotions. We may also use your personal information for statistical purposes.</p>

  <p><em><strong>Sharing and Confidentiality.</strong></em> We will not share your personal information with any third parties except as set out below. Your personal information may be made available to:</p>

  <ul>
  	<li>our partners that may propose services and/or products to you that relate to the Services (e.g., notification services), only if you choose to receive such services and/or products;</li>

  	<li>service providers that facilitate or to whom we outsource one or more aspects of our business or of the Services. In particular, if you register for a paid account, your payment transaction information and credit card number are disclosed to third party credit card payment processors. Your credit card information will NOT be stored by BLAMESTELLA but by such third party service providers (for more details on payment, see the <a href="https://www.blamestella.com/info/terms" title="Terms &amp; Conditions">Terms of Use</a> of the Website); and</li>

  	<li>law enforcement officials or governmental agencies (i) in response to their request; (ii) when permitted or required by law; or (iii) to establish our compliance with applicable laws, rules, regulations, or guidelines. </li>
  </ul>

  <p>You acknowledge that our partners and/or service providers which may receive your personal information in accordance with this Privacy Policy or applicable law may be located in countries (e.g., the United States) which have a different level data protection than in your home country. BLAMESTELLA has taken commercially reasonable steps to ensure that these service providers protect the confidentiality and security of your personal information, and to ensure that your personal information is processed only for the purposes described in this Privacy Policy.</p>

  <p>Should BLAMESTELLA merge with another company or choose to sell or transfer all or part of the Website, its business assets or shares, it is possible that the personal information we possess may be transferred as part of that transaction. BLAMESTELLA may decide to retain a copy of the information post transaction.</p>

  <p><em><strong>Cookies.</strong></em>  A cookie is a small amount of data, which often includes an anonymous unique identifier that is sent to your browser from a web site's computers and stored on your computer's hard drive. BLAMESTELLA may set and access certain <a href="http://info.yahoo.com/privacy/ca/yahoo/cookies/">cookies</a> on your computer for the following reasons:</p>

  <ul>
  	<li>to facilitate your "signing in" on the Website; 
  	<li>so that we can provide you with customised content;
  	<li>to keep track of preferences you specify while you are using our Services;
  	<li>to provide general internal and user analytics; 
  	<li>to conduct research to improve the content of the Website, our products and Services; and
  	<li>to assist in identifying possible fraudulent activities. 
  </li>

  <p>If you configure your browser to reject all cookies, you may not be able to use certain or all of our Services.</p>

  <p><em><strong>Editing or Correcting Your Personal Information.</strong></em> You should advise us if you believe that your personal information is inaccurate. You have the right (i) to ask for your personal information to be corrected or updated and (ii) to withdraw your consent to the use of your personal information. To do so, please contact us at privacy@blamestella.com.</p>

  <p><em><strong>Limitation of Liability.</strong></em> YOU UNDERSTAND AND AGREE THAT ANY DISPUTE OVER PRIVACY IS SUBJECT TO THE TERMS AND CONDITIONS OF THIS PRIVACY POLICY, AS WELL AS THE <a href="https://www.blamestella.com/info/terms" title="Terms &amp; Conditions">TERMS OF USE</a> OF THE WEBSITE (INCLUDING THE LIMITATION OF LIABILITY PROVISIONS).  </p>

  <p><em><strong>Questions?</strong></em> If you have any questions regarding this Privacy Policy or, more generally, our privacy practices, you may contact us at privacy@blamestella.com.</p>

</div>

{{> _layout/footer }}