{{>_layout/header}}

  {{>_partial/session_messages}}

  <!--
  <div class="span11">
    <ul class="breadcrumb">
      <li class="active"><a href="/account">Account</a></li>
    </ul>
  </div>
  <div class="span11">
    <div class="line"></div>
  </div>
  -->

  <div class="span10 offset1">
    <div class="tabbable tabs-left">
      <ul  id="pageTabs" class="nav nav-tabs">
        {{#tabs}}
        <li {{#active}}class="active"{{/active}}><a href="#{{tab}}" data-toggle="tab">{{text}}</a></li>
        {{/tabs}}
      </ul>
      <div class="tab-content">

        <div class="tab-pane active" id="profile">
          <div class="row well static">
            <div class="span8">
              <form class="form-horizontal">
                <fieldset>
                  <legend><h2 class="cufon">Your Account - {{cust.email}}</h2></legend>
                  <div class="control-group">
                    <label class="control-label" for="input01">Name</label>
                    <div class="controls">
                      <input type="text" class="input-large selectable" id="input01" value="{{cust.name}}" placeholder="Your Name">
                      <p class="help-block">e.g. Morton Blamey</p>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="input03">Location</label>
                    <div class="controls">
                      <input type="text" class="input-xlarge span3 selectable" id="input03" value="{{cust.location}}" placeholder="City">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="input04">Company</label>
                    <div class="controls">
                      <input type="text" class="input-xlarge span3 selectable" id="input04" value="{{cust.company}}" placeholder="Your Fine Establishment">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="input05">Website</label>
                    <div class="controls">
                      <input type="text" class="input-xlarge span3 selectable" id="input05" value="{{cust.website}}" placeholder="http://yourcompany.com/">
                    </div>
                  </div>
                  <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button class="btn">Cancel</button>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <p class="help-block">Need to change your email address? Just ask Tucker.</p>
                    </div>
                  </div>
                </fieldset>
              </form>

              <legend><h3><span class="cufon">Danger Zone</span> &nbsp;<small class="cufon"></small></h3></legend>
              <div class="span5">
                <div class="alert alert-warning">
                  <h4 class="alert-heading">Delete your account</h4>
                  All data will be deleted and there is no undo.
                  <div><a href="#deleteAccountModal" role="button" class="btn btn-warning" data-toggle="modal">Continue</a></div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hide hidden modal" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Delete Account</h3>
          </div>
          <div class="modal-body">
            <p>You can delete your account by clicking the button below.</p>
            <p><strong>This is not reversable. All monitoring data will be deleted.</strong></p>
            <form action="/account/{{cust.custid}}/delete" method="POST">
            <input type="hidden" name="confirm" value="11111" />
            <div><button type="submit" class="btn btn-danger">Confirmed</button></div>
            </form>
          </div>
          <div class="modal-footer">
            Thanks. It's been a blast<em>!</em>
          </div>
        </div>

        <div class="tab-pane" id="contacts">
          <div class="row well static">
            <div class="span8">
              <h2 class="cufon">Contacts</h2>
              <div class="line"></div>

              {{#cust.contacts}}
              <label class="checkbox">
                <img src="{{gravatar_prefix}}{{gravatar}}?s=18&amp;r=g" class="avatar"/>
                {{email}} {{#phone}}({{to_s}}){{/phone}}
              </label>
              {{/cust.contacts}}

              <div class="control-group">
                <div class="controls">
                  <a href="#contactsModal" role="button" class="btn" data-toggle="modal"><i class="icon icon-plus"></i> Add contact</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{>_partial/addcontact}}

        <div class="tab-pane" id="api">
          <div class="row well static">
            <div class="span8">
              <h2 class="cufon">API Credentials</h2>
              <div class="line"></div>
              <div class="row control-group">
                <div class="span2 control-label">Customer ID</div>
                <div class="span4">
                  <span><strong>{{cust.email}}</strong></span>
                  <p class="help-block">e.g. STELLA_CUSTID=[your_apikey]</p>
                </div>
              </div>
              <div class="row control-group">
                <div class="span2 control-label">API Key</div>
                <div class="span4">
                  <span><input value="{{cust.apikey}}" class="span4"></span>
                  <p class="help-block">e.g. STELLA_APIKEY=[your_apikey]</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="sites">
          <div class="row well static">
          <div class="span8">
            <h2 class="cufon">Your Sites</h2>
            <div class="line"></div>
            <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                {{#hosts}}
                <tr>
                  <td>{{hostname}}</td>
                  <td>{{#hidden}}<em>hidden</em>{{/hidden}}</td>
                  <td>
                    <!--<a href="/site/{{hostid}}/hide" class="machine-hide"><i class="icon icon-pause"></i></a>-->
                    {{^hidden}}
                    <a href="/site/{{hostid}}/hide" class="host-hide"><i class="icon icon-remove-sign"></i></a>
                    {{/hidden}}
                    {{#hidden}}
                    <a href="/site/{{hostid}}/show" class="host-show"><i class="icon icon-plus-sign"></i></a>
                    {{/hidden}}
                  </td>
                </tr>
                {{/hosts}}
              </tbody>
            </table>
          </div>
          </div>
        </div>

        {{#colonels_only}}
        <div class="tab-pane" id="machines">
          <div class="row well static">
          <div class="span8">
            <h2 class="cufon">Remote Machines</h2>
            <div class="line"></div>
            <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <th>hostname</th>
                  <th>ip address</th>
                  <th>region</th>
                  <th>nation</th>
                  <th>city</th>
                  <th>area</th>
                  <th>status</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                {{#cust.remote_machines}}
                <tr>
                  <td>{{hostname}}</td>
                  <td>{{ipaddress}}</td>
                  <td>{{region}}</td>
                  <td>{{nation}}</td>
                  <td>{{area}}</td>
                  <td>{{city}}</td>
                  <td>{{status}}</td>
                  <td>
                    <!--<a href="/site/{{hostid}}/hide" class="machine-hide"><i class="icon icon-pause"></i></a>-->
                    <a href="/machine/{{machineid}}/hide" class="machine-hide"><i class="icon icon-remove-sign"></i></a>
                  </td>
                </tr>
                {{/cust.remote_machines}}
              </tbody>
            </table>
          </div>
          </div>
        </div>
        {{/colonels_only}}

      </div>
    </div>

  </div>


  {{#selected_tabid}}
  <script type="text/javascript">
    $(function() {
      $('#pageTabs li a[href$="#{{to_s}}"]').tab('show');
    });
  </script>
  {{/selected_tabid}}

{{>_layout/footer}}
