{{>_layout/header}}

  {{>_partial/session_messages}}

  <div class="span8 offset2">
    <h1 class="cufon title">Reset Password</h1>
  </div>

  <div class="span8 offset2">
    <form id="claim" method="post" class="form form-horizontal">
      {{{add_shrimp}}}

      {{#secret}}
        <h4 class="cufon">New Password</h4>
        <input class="textFieldLarge" size="20" name="new" type="password" class="defaultContent " />
        <h4 class="cufon">Repeat Password</h4>
        <input class="textFieldLarge" size="20" name="new2" type="password" class="defaultContent " />
        <br/><br/>
        <button type="submit" class="btn btn-huge btn-inverse cufon">Make the change</button>
      {{/secret}}
      {{^secret}}
        <table style="padding: 0px; margin: 0px">
          <tr>
            <td><h4 class="cufon">Enter your electronic mail address:</h4></td>
          </tr>
          <tr>
            <td><input class="textFieldLarge" size="40" tabindex="1" name="email" value="{{req.params.email}}" /></td>
          </tr>
        </table>
        <br/>
        <button type="submit" class="btn btn-huge btn-inverse cufon">Send me a reset email</button>
      {{/secret}}

    </form>
  </div>
  <script language="text/javascript">
  $(function() {
    $("#passwordInput").focus()
  });
  </script>

  <div class="span12">
    &nbsp;
  </div>

{{>_layout/footer}}
