{{>_layout/header}}

  {{>_partial/session_messages}}


  <div class="span7 offset2">

    <form class="well form-horizontal" method="post">
      {{{add_shrimp}}}
      <fieldset>
        <legend><h2><span class="cufon">Sign In</span> &nbsp;<small class="cufon"></small></h2></legend>
        <div class="control-group">
          <label class="control-label" for="input01">Email</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span><input type="text" name="email" class="input-large selectable" id="input01" value="{{email}}" placeholder="Your Email">
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input03">Password</label>
          <div class="controls">
            <input type="password" name="password" class="input-xlarge span3 selectable" id="input03"  placeholder="Password">
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-inverse">Authenticate</button>
          <a href="/" class="btn">Cancel</a>
        </div>
        <div class="control-group">
          <div class="controls">
            <p class="help-block"></p>
          </div>
        </div>
      </fieldset>

      <p><a href="/signup"><em>Need an account?</em></a></p>
      <p><a href="/login/reset?email={{email}}"><em>Forgot your password?</em></a></p>

      <div class="offset1">
      {{^authenticated}}
      <h3 class="cufon">Or you may also...</h3>
      <p><a class="btn btn-huge btn-primary cufon" href="/auth/github/redirect">Sign In with GitHub <em>!</em></a></p>
      {{/authenticated}}
      </div>

    </form>

    <br/><br/><br/>

  </div>

{{>_layout/footer}}
