#news .news{float:left;width:480px;}
#news .news ol{float:left;padding:0;}
.news li{font-family:Georgia,serif;font-style:italic;margin-bottom:55px;position:relative;width:330px;}
.news p{color:#657e7e;display:block;margin:12px 12px 0;position:relative;z-index:1;}
.news .date{color:#999;position:absolute;padding-top:20px;}
#news .dateHeading{margin-bottom:25px;}
.tucker{background:url("/img/news-tuckerTop.png") no-repeat;float:left;padding:0 15px 0 35px;}
#news .tucker{background-position:100px 0;padding:0 5px 0 130px;}
.tucker .date{background:url("/img/news-tuckerBottom.png") no-repeat ;bottom:0;height:17px;margin:0 0 -35px -14px;width:347px;}
#home .tucker .date{margin-left:-19px;}
.morton{background:url("/img/news-mortonTop.png") no-repeat;float:right;padding:0 115px 0 15px;}
.morton .date{background:url("/img/news-mortonBottom.png") no-repeat ;bottom:0;height:15px;margin:0 0 -35px -15px;text-align:right;width:347px;}
.mugshot{background:url("/img/news-morton.png") no-repeat ;position:absolute;height:80px;width:80px;}
.mugshot:hover{margin-top:1px;}
.morton .mugshot{background:url("/img/news-morton.png") no-repeat;right:0;top:-15px;}
#home .tucker .mugshot{display:none;}
#news .tucker .mugshot{background:url("/img/news-tucker.png") no-repeat;left:0;top:-15px;}
#quarterlies{float:right;width:400px;font-family:courier,monospace,serif;}
#quarterlies img{padding:10px;}
#follow{margin:0 auto;width:260px;}
.tuckerFollow,
.mortonFollow{float:left;font-family:Georgia,italic;font-style:italic;width:120px;}
.tuckerFollow{text-align:right;margin-right:20px;}
.mortonFollow{text-align:left;}
.mugshotFollow{border:none;}
.mugshotFollow:hover{margin-top: 1px}