{{>_layout/header}}

  <div class="span11">
    <ul class="breadcrumb">
      <li><h2 class="cufon"><a href="/">Home</a> <span class="divider">&gt;</span></h2></li>
      <li class="">
        <h2 class="cufon"><a href="/site/{{host.hostname}}">{{host.hostname}}</a> <span class="divider">&gt;</span></h2>
      </li>

      <li class="active">
        <h2 class="cufon"><a href="/plan/{{plan.planid}}">{{plan.shortpath}}</a></h2>
      </li>

      <div style="float: right; margin-top: 4px" class="">
        {{^host.monitored}}
        {{/host.monitored}}
        {{#plan.enabled}}
        {{#plan.rangemetrics.past_1h.on_load_avg}}
        <span class="cufon" style="font-size: 36px; font-weight: bold">{{to_i}}</span><span cufon="cufon" style="font-size: 16px">ms</span>
        {{/plan.rangemetrics.past_1h.on_load_avg}}
        {{^plan.rangemetrics.past_1h.on_load_avg}}
        <span class="cufon" style="font-size: 36px; font-weight: bold">{{recent_checkup.summary.on_load}}</span><span cufon="cufon" style="font-size: 16px">ms</span>
        {{/plan.rangemetrics.past_1h.on_load_avg}}
        {{/plan.enabled}}
      </div>
    </ul>
  </div>

  <div class="row">
    <div class="span10 offset1">
      <div style="margin-left: 20px">{{>_partial/session_messages}}</div>

      <ul id="pageTabs" class="nav nav-tabs">
        {{#owner_only}}
        <li class="active">
          <a href="#recent" data-toggle="tab"><h4 class="cufon">Recent Checks</h4></a>
        </li>
        <li class="">
          <a href="#screenshots" data-toggle="tab"><h4 class="cufon">Screenshots</h4></a>
        </li>
        <li>
          <a href="#data" data-toggle="tab"><h4 class="cufon">Data</h4></a>
        </li>
        {{/owner_only}}
      </ul>

      <div class="tab-content" style="background-color: #fff; margin-top: -18px; padding: 20px">

        {{#owner_only}}
        <div id="recent" class="active">
          <ul class="">
            {{#plan.recent_testruns}}
            <li class="">
              <a href="/testrun/{{runid}}">{{summary.on_load}}ms @ <span class="tsbasic" title="{{created_at.to_i}}">{{created_at}}</span></a>
            </li>
            {{/plan.recent_testruns}}
          </ul>

          {{^plan.testruns}}
          <p><em>No checks yet</em></p>
          {{/plan.testruns}}

        </div>

        <div id="screenshots" class="hidden">

          <p><em>Screenshot history.</em></p>

            <ul class="thumbnails">
            {{#plan.screenshots.reverse}}
            <li class="span3 screenshot">
              <div class="thumbnail">
                <img src="/t/{{thumbnail}}"/>
                <div class="date tsbasic" title="{{created_at.to_i}}">{{created_at.to_datetime}}</div>
              </div>
            </li>
            {{/plan.screenshots.reverse}}
          </ul>
          {{^plan.screenshots}}
          <p><em>No screenshots yet</em></p>
          {{/plan.screenshots}}

        </div>

        <div id="data" class="hidden">
          <legend><h3><span class="cufon">Metrics</span> &nbsp;<small class="cufon"></small></h3></legend>

          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Download Metrics
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/site/{{host.hostid}}/report.json?d=3600">JSON (1h)</a></li>
              <li><a href="/site/{{host.hostid}}/report.yaml?d=3600">YAML (1h)</a></li>
              <li><a href="/site/{{host.hostid}}/report.csv?d=3600">CSV (1h)</a></li>
              <li class="divider"></li>
              <li><a href="/plan/{{plan.planid}}/report.json?d=14400">JSON (4h)</a></li>
              <li><a href="/plan/{{plan.planid}}/report.yaml?d=14400">YAML (4h)</a></li>
              <li><a href="/plan/{{plan.planid}}/report.csv?d=14400">CSV (4h)</a></li>
              <li class="divider"></li>
              <li><a href="/plan/{{plan.planid}}/report.json?d=43200">JSON (12h)</a></li>
              <li><a href="/plan/{{plan.planid}}/report.yaml?d=43200">YAML (12h)</a></li>
              <li><a href="/plan/{{plan.planid}}/report.csv?d=43200">CSV (12h)</a></li>
            </ul>
          </div>
          <br/><br/><br/><br/>
          <br/><br/><br/><br/>
          <br/><br/><br/><br/>
          <br/><br/><br/><br/>
        </div>

        {{/owner_only}}

      </div>

    </div>

  </div>

  {{#bogus}}
  '#pageTabs li a[href$="VALUE"]'
   = is exactly equal
  != is not equal
  ^= is starts with
  $= is ends with
  *= is contains
  {{/bogus}}

  {{#selected_tabid}}
  <script type="text/javascript">
    $(function() {
      $('#pageTabs li a[href$="#{{to_s}}"]').tab('show');
    });
  </script>
  {{/selected_tabid}}

{{>_layout/footer}}
