<pre style="font-size: 9pt; line-height: 9pt">
Good day from BlameStella!

We received a request to start monitoring {{hostname}} 
for downtime. You will receive:

* notifications when the site is down or very slow.
* monthly or weekly performance reports.


*****************  ACTION REQUIRED  ******************

Confirm your account here:
{{uri}}

^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

Let me know if you need anything,

Tucker, Lead Technician
https://www.blamestella.com/

P.S. This email was sent to {{cust.email}}. 
If this wasn't you, let me know so I can ensure it does
not happen again.
</pre>