<pre style="font-size: 9pt; line-height: 9pt">
Good day,

We received a request to reset your password. If that was
not you, simply ignore this email or reply to let us know.

Your account is: {{cust.email}}

You can enter a new password at the following location:
{{uri}}

NOTA BENA: This request will expire in 24 hours!

Tucker
Blamey &amp; Stella Information Co. Ltd
https://www.blamestella.com/

Sent from my Royal 10
</pre>
