<pre style="font-size: 9pt; line-height: 9pt">
Welcome to BlameStella!

My name is Tucker and I'm the main support person around here.
Email me anytime if you need anything. You can also use the
feedback form at the bottom of every page.

{{#via_github}}
<b>Thanks for creating an account via GitHub.</b>

Your username is: {{username}}
Notifications will be sent to: {{cust.email}}
{{/via_github}}

Happy monitoring,

Tucker, Lead Technician
https://www.blamestella.com/
</pre>
