
<!--<div class="row alert alert-info">{{to_s}}</div>-->
<script type="text/javascript">
  {{#messages.info}}
  alertify.log( "{{to_s}}" ); {{! https://github.com/fabien-d/alertify.js }}
  {{/messages.info}}
</script>

{{#messages.error}}
<div class="row alert alert-error">{{to_s}}</div>
{{/messages.error}}


{{#req.params.pwreset}}
<div class="row alert alert-error center">We modified our password storage. Please <a href="/login/reset?email={{req.params.email}}">generate a new one</a> -- Tucker.</div>
{{/req.params.pwreset}}

