<pre style="font-size: 14px;">
We detected a problem with <strong>{{hostname}}</strong>. More info:

<strong style="font-size: 125%">{{baseuri}}/testrun/{{runid}}</strong>

This issue was detected from Fremont, California and verified in Montreal, Quebec.

Let me know if you need anything,
Tucker

<i style="font-size: 90%">P.S. Manage your monitors or disable notifications here:
{{baseuri}}/site/{{hostname}}
</i>

</pre>
